
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/search.js"></script>


  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/logout">Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">My Dealership</h3>
      </div>
        <div class="jumbotron">
            <h1>Welcome {{ session['user'] }}</h1>
            <p><a class="btn btn-lg btn-success" href="/showSearch" role="button">Search Vehicles</a></p>
            <p><a class="btn btn-lg btn-success" href="/showSales" role="button">Search Sales Invoice</a></p>
            <p><a class="btn btn-lg btn-success" href="/showUpdate" role="button">Sell Car</a></p>
            <p><a class="btn btn-lg btn-success" href="/addCar" role="button">Add Car</a></p>
      </div>
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
    </div>
  </body>
</html>

